body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#topNavContainer {    
    z-index: 99;    
}

#main {
    padding-top: 10%;
}

body.front,
body.page-categories,
body.page-node-11 {	
	background-image:url(../images/sticky-footer-kraft-strip-brown.jpg);
	background-repeat:repeat-x;
	background-color:rgb(80,61,51);
	background-position:bottom;
	
}

body.node-type-dinosaurs,
body.page-dinosaurs {
  background: url(../images/Dinosaur-Backdrop-only-iStock-fadeout5.jpg) no-repeat fixed top, 
  rgb(202,117,53) url(../images/sticky-footer-kraft-strip-dino-orange.jpg) repeat-x fixed bottom;
  background-color: #bd6e4d;
}

body.node-type-fantasy-sets,
body.page-fantasy-sets {
  background-image: url(../images/Fantasy-Backdrop-only-iStock-fadeout-blackWhite.jpg), url(../images/sticky-footer-kraft-strip-dark_charcoal2.jpg);
  background-repeat: no-repeat, repeat-x;
  background-color: black;
  background-position: top, bottom;
  background-attachment: fixed, fixed;
}

body.node-type-farm-animals,
body.page-node-7 {
  background-image: url(../images/Farm-Backdrop-only-iStock-fadeout2.jpg), url(../images/sticky-footer-kraft-strip-farm.jpg);
  background-repeat: no-repeat, repeat-x;
  background-color: #e0bf70;
  background-position: top, bottom;
  background-attachment: fixed, fixed;
}

body.node-type-north-american-animals,
body.page-node-8 {
  background-image: url(../images/northAmercian-Backdrop-only-iStock-fadeout.jpg), url(../images/sticky-footer-kraft-strip-northAmerican.jpg);
  background-repeat: no-repeat, repeat-x;
  background-color: #344018;
  background-position: top, bottom;
  background-attachment: fixed, fixed;
}

body.node-type-wild-animals,
body.page-node-9 {  
  background-image: url(../images/Africa-Backdrop-only-iStock-fadeout.jpg), url(../images/sticky-footer-kraft-strip-rusty-sand-shorter.jpg);
  background-repeat: no-repeat, repeat-x;
  background-color: #ca7535;
  background-position: top, bottom;
  background-attachment: fixed, fixed;  
}

body.node-type-marine-animals,
body.page-node-10 {
  background-image: url(../images/Marine-Backdrop-only-iStock-fadeout2.jpg), url(../images/sticky-footer-kraft-strip-marine-blue3.jpg);
  background-repeat: no-repeat, repeat-x;
  background-color: #042477;
  background-position: top, bottom;
  background-attachment: fixed, fixed;
}

body.node-type-accessories,
body.page-accessories {
  background-image: url(../images/Accessories-Backdrop-only-iStock-fadeout.jpg), url(../images/sticky-footer-kraft-strip-green-grass.jpg);
  background-repeat: no-repeat, repeat-x;
  background-color: #a3be39;
  background-position: top, bottom;
  background-attachment: fixed, fixed;
}


body.front #topNavContainer ul li a.home,
body.page-categories #topNavContainer ul li a.figurines,
body.node-type-dinosaurs #topNavContainer ul li a.figurines,
body.node-type-fantasy-sets #topNavContainer ul li a.figurines,
body.page-dinosaurs #topNavContainer ul li a.figurines,
body.page-fantasy-sets #topNavContainer ul li a.figurines,
body.page-node-7 #topNavContainer ul li a.figurines,
body.page-node-8 #topNavContainer ul li a.figurines,
body.page-node-9 #topNavContainer ul li a.figurines,
body.page-node-10 #topNavContainer ul li a.figurines,
body.page-node-5 #topNavContainer ul li a.accessories,
body.page-node-11 #topNavContainer ul li a.buy {	
	color:rgb(80,61,51) !important;	
}

@media (max-width: 990px) {
  body.front #topNavContainer ul li a.home,
  body.page-categories #topNavContainer ul li a.figurines,
  body.node-type-dinosaurs #topNavContainer ul li a.figurines,
  body.page-node-4 #topNavContainer ul li a.figurines,
  body.page-node-6 #topNavContainer ul li a.figurines,
  body.page-node-7 #topNavContainer ul li a.figurines,
  body.page-node-8 #topNavContainer ul li a.figurines,
  body.page-node-9 #topNavContainer ul li a.figurines,
  body.page-node-10 #topNavContainer ul li a.figurines,
  body.page-node-5 #topNavContainer ul li a.accessories,
  body.page-node-11 #topNavContainer ul li a.buy {  
    color:orange !important; 
  }
}

#topNavContainer #cssmenu ul li a.active,
#topNavContainer #cssmenu ul li a.active-trail{
  color:rgb(80,61,51) !important;
}

@media (max-width: 990px) {
  #topNavContainer #cssmenu ul li a.active,
  #topNavContainer #cssmenu ul li a.active-trail{
    color:orange !important;
  }

}

#topNavContainer #cssmenu ul li ul li a.active,
#topNavContainer #cssmenu ul li ul li a.active-trail{
  color:orange !important;
}

body.front #topNavContainer ul li a.home,
body.page-node-5 #topNavContainer ul li a.accessories,
body.page-node-11 #topNavContainer ul li a.buy {
  cursor:default;  
}

body.node-type-accessories #topNavContainer ul li a.accessories {  
  color:rgb(80,61,51) !important; 
}

body.node-type-dinosaurs #topNavContainer ul li a.dinosaurs, 
body.page-dinosaurs #topNavContainer ul li a.dinosaurs, 
body.page-fantasy-sets #topNavContainer ul li a.fantasy, 
body.node-type-fantasy-sets #topNavContainer ul li a.fantasy, 
body.node-type-wild-animals #topNavContainer ul li a.wild, 
body.page-node-9 #topNavContainer ul li a.wild, 
body.node-type-farm-animals #topNavContainer ul li a.farm,
body.page-node-7 #topNavContainer ul li a.farm, 
body.node-type-marine-animals #topNavContainer ul li a.marine, 
body.page-node-10 #topNavContainer ul li a.marine, 
body.node-type-north-american-animals #topNavContainer ul li a.american,
body.page-node-8 #topNavContainer ul li a.american {  
  color: orange !important;
}

body.page-node-4 #topNavContainer ul li a.dinosaurs, 
body.page-node-6 #topNavContainer ul li a.fantasy, 
body.page-node-9 #topNavContainer ul li a.wild, 
body.page-node-7 #topNavContainer ul li a.farm, 
body.page-node-10 #topNavContainer ul li a.marine, 
body.page-node-8 #topNavContainer ul li a.american {
  cursor: default !important;  
}

/*  Carousel set */
.carousel-control { 
  width:  4%; 
}

.carousel-control.left{
  margin-left:0px;
  background-image:none;
}

.carousel-control.right {
  margin-right:0px;
  background-image:none;
}

@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev    { left: -100%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }

}

@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev    { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}

@media (min-width: 992px) and (max-width: 1220px ) {
  .carousel-inner .active.left { left: -33.33%; }
  .carousel-inner .next        { left:  33.33%; }
  .carousel-inner .prev    { left: -33.33%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

@media (min-width: 1220px ) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .prev    { left: -25%; }  
}

.thumbnail{
  background-color: #e3c697;
}

.thumbnail:hover{
  background-color: #403e37;
}

.thumbnail:hover .views-field-title a,
.thumbnail:hover .views-field-title a:visited{
  color:#fae584;
}
.views-field-title a,
.views-field-title a:visited{
  display: block;
  color:#802a23;
  font-family: 'Novecento-DemiBold', Arial, Helvetica, sans-serif;
  font-size: 100% !important;
}

.views-field-title {
  //padding:10px 0 20px;

}

/* arrow style */
@media screen and (min-width: 768px){
  a.right.carousel-control img {
    margin-right: 0;
  }

  a.left.carousel-control img {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  a.left.carousel-control img, 
  a.right.carousel-control img {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
}

a.right.carousel-control img {
  right: 50%;
  margin-right: -10px;
}

a.left.carousel-control img, 
a.right.carousel-control img {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-inner {  
  width: 90%;
  margin: 0 auto;  
}

.carousel-control.left,
.carousel-control.right {
  border-image: none;
  filter:none;
}

#productTitleDetailPage {
    width:75%; 
    margin: 8% auto 0;
    padding-left: 15px;
}

#productTitleDetailPageDino {
    width:75%; 
    margin: 8% auto 0;
    /*padding-left: 15px;*/
}


#container {    
    background: #ffe9bf url("../images/map-beige-bg-small.jpg") no-repeat ;
    margin-top: 150px;   
    
}

@media (min-width: 420px){
  #container {    
    /*border*/
    border: 10px solid transparent;
    padding: 15px 0;
    -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 30 round;
    
  }  
}

#crossSellingContainer {
   background: transparent; 
}

body > #container {
  max-width: 1242px;
}


body.node-type-north-american-animals #container,
body.node-type-dinosaurs #container,
body.node-type-fantasy-sets #container {
  background: #ffe9bf url("../images/map-beige-bg.jpg") no-repeat ;
}

@media (min-width: 992px) {
  
  body.page-north-american-animals #container,
  body.page-categories #container {    
    background: #ffe9bf url("../images/map-beige-bg-african.jpg") no-repeat ;
  }
  
  body.page-dinosaurs #container {    
    background: #ffe9bf url("../images/map-beige-bg-dinosaurs-signature.jpg") no-repeat ;
  }
  
  body.page-fantasy-sets #container {    
    background: #ffe9bf url("../images/map-beige-bg-fantasy.jpg") no-repeat ;
  }
} 

/*map style*/
#about-content {
    background-color: #f9f3dc;
    border-radius: 10px;
    color: #650360;
    margin: 0 10px;
    padding: 50px;
}

body.page-node-11 .thumbPageContainer{
  background-color: #B9AA8E !important;
  padding-top:0;
  text-align: left;
}

#about-content p {
    margin-bottom: 12px;
}

#about-content {    
    font-size: 100%;    
    vertical-align: baseline;
}

#about-content .col-xs-12 {
    margin-bottom: 10px;
    width: 100%;
}

#productPictureInnerContainer{
  background-color: #fff;
  padding: 0; 
  margin: 0;

}

#productRetailInfoContainer{  
  width: auto;  
  position: relative;
  bottom: 5px;
}

#productPictureMapContainer{
  background-color: #e3c697;
  font-family: "ClearSans-Regular",Arial,Helvetica,sans-serif;
  font-size: 110%;
  line-height: 1.25em;
}

#productDescriptionContainer #description{  
  margin-top: 0;
  margin-bottom: 5%;
}

#productDescriptionContainer h3 {
  font-family: 'Novecento-DemiBold', Arial, Helvetica, sans-serif;
  color: maroon;
  text-transform: uppercase;
}

.row-same-height .productTitleDetailPageThumbContainerUnder {
    padding: 6% 0;
    text-align: justify;
}

#productDescriptionContainer {
    background: none;    
    margin: 0 auto;    
    width: 75%;
    text-align: justify;
}

.productSpecsContainer, 
.productComponentsContainer {    
    margin: 1% 0;    
    width: 100%;
}

.productSpecsContainer .listSubTitleSpan{
  font-size: 90%;
  font-weight: normal;
}

.productSpecsContainer .listTitle{
  background-color: #CEAA9D;
  text-align: center;
}

.productSpecsContainer .listValue{
  background-color: #F8ECD4;
}

.productSpecsContainer table tbody tr td{
  border-top: 1px solid #802A18;
}

.productSpecsContainer tr:first-child td{
  border-top: 1px solid transparent;
}

.drop-cap p:first-letter {
    font-size: 3.5em;
    float: left;
    margin-top: .25em;
}

#productFactsContainer {
  width: 100%; 
  margin: 0;
} 

.crossSellTitleRuler,
.crossSellTitle{
  width: 30%;
}

@media screen and (max-width: 950px){
  #productPictureMapContainer {
    background-color: #e3c697 !important;
  }
}

.productTitleDetailPageThumbContainerUnder {
  background: transparent;
}

@media screen and (max-width: 950px){
  #productPictureMapContainer {
   background: #e3c697 !important; 
  }
}

.crossSellingThumbContainer .productTitleDetailPageThumb {
  width: 25%;
  height: 25%;
}

.crossSellingThumbContainer #productPictureMapContainer .productThumbDesc{
  font-size: 110%;
} 

.crossSellingThumbContainer .thumbPageContainer {
  width: 100%;
}

.thumbPageContainer .thumbnail .views-field-field-product-picture .field-content {
  background-color: #fff;
}

.thumbPageContainer .thumbnail .views-field-title{
  /*position:relative;*/
}

/*.thumbnail .views-field-title .field-content{
  position: relative;  
  transform: translate(0,50%);
  display: inline-block;
}*/

.thumbPageContainer .thumbnail{
  width: 164px;
  margin:0 auto 10px;
}

.carousel-inner .thumbnail{
  width: 164px;
  margin:0 auto;
}

#productPictureDescContainer {
  padding: 2% 1%;
  position: relative;
}

@media (max-width: 420px){
  #productPictureDescContainer {
    width: 75%;
    margin-left: 12.5%;
  }
}

.productTitleDetailPageThumb.col-xs-2{
  padding: 0;
  width: 20%;
  height: 20%;
}

.productTitleDetailPageThumb {
  margin: 0px 0.8em 0 0;
}

.productThumbDesc{
  margin-top: 3%;
}
@media (max-width: 992px) {
  #productPictureInnerContainer{
    width:100%;
    max-width: 100%;
  } 
}

@media (min-width: 993px) {
  #productPictureInnerContainer {
    width: 50%;    
  }
}

@media (max-width: 420px) {
  #productPictureMapContainer {
    width: 100%; 
    padding: 0;
    border: none;
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

@media (max-width: 950px){
  #productPictureMapContainer {
    width: 75%;    
    padding: 0;
    border: none;
  }
}

.view-content .thumbPageContainer{
  margin-top: 1% !important;
  padding-top: 0;
}

#bottomFooterContainer a {
  color: rgb(205,190,183);
  text-decoration: none;
}

#cssmenu ul ul li a {    
    padding: 10px 20px;
    width: 150px;
}